@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

body {
  font-family: "Noto Sans", sans-serif;
  transition: all 0.5s ease-out;
  position: relative;
}

main {
  margin: 50px 70px;
}

.navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 0 70px;
  position: sticky;
  top: 0;
  box-shadow: 10px 5px 20px #0000001e;
}

.branding-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px 0;
  flex-wrap: wrap;
}

.page-title {
  color: gray;
  font-size: 14px;
  margin: 0 10px;
  font-weight: 500;
}

.navigation-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px 0;
  width: 100%;
}

.nav-btn-white {
  padding: 6px;
  background-color: #ffffff00;
  border: 1px solid #adb2b8;
  color: #65696c;
}

.nav-btn-green {
  background-color: #8ec423;
  padding: 8px 10px;
  color: aliceblue;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.nav-btn-white:hover {
  color: #9b41b2;
  border-color: #9b41b2;
}

.nav-btn-green:hover {
  background-color: #aedb55;
}

.nav-btn-white,
.nav-btn-green {
  border-radius: 3px;
  margin: 0 5px;
}
.nav-toggler {
  vertical-align: middle;
  color: purple;
  font-size: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.links-section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.nav-link {
  text-decoration: none;
  border: 1px solid transparent;
  color: #676666;
  font-weight: 500;
  margin: 0 15px;
}

.nav-link:hover,
.nav-link-active {
  color: #9b41b2;
  padding-bottom: 5px;
  border-bottom: 1px solid #9b41b2;
}

/* BREADCRUMB */

ul.breadcrumb {
  padding: 10px 0;
  list-style: none;
  display: inline;
  white-space: nowrap;
}

ul.breadcrumb>li {
  display: inline;
}

ul.breadcrumb li+li::before {
  padding: 8px;
  color: #c5c5c5;
  content: ">";
}

ul.breadcrumb>li>a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb>li>a:hover {
  color: #01447e;
  text-decoration: underline;
}

.last-crumb {
  color: #c5c5c5 !important;
}

/* Search Bar */
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* display: inline; */
  padding: 6px;
  width: 300px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  float: right;
}

.search-bar>i {
  margin-left: 5px;
  margin-right: 10px;
  /* position: relative; */
}

.search-bar>input {
  border: none;
  font-size: 15px;
  color: gray;
  background-color: transparent;
}

.search-bar>input:focus {
  border: none;
  outline: none;
}

/* MESSAGE FORM */
form.message-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 405px;
}

.message-form>h2 {
  color: #4e4e4e;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

form>label.required::after {
  content: ' *';
  color: red;
  font-size: 15px;
  font-weight: 500;
  /* position: relative; */
  top: -3px;
}

form>label {
  color: #656565;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 8px;
}

form>input[type="text"],
form>input[type="email"],
form>textarea,
.input-style {
  background-color: white;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 25px;
  width: 100%;
}

form>p.note {
  font-size: 12px;
  color: #414141;
  margin-bottom: 25px;
}

form>footer {
  border-top: 1px solid #c5c5c5;
  margin-top: 40px;
  padding-top: 30px;
  text-align: right;
}

form>footer>input[type="submit"] {
  background-color: #85bf11;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-bottom: 25px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #c5c5c5;
  padding-top: 30px;
  margin: 30px 70px 70px 70px;
}
.footer-section {
  display: flex;
  flex-direction: column;
}
.section-heading {
  color: #696969;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.footer-link {
  font-size: 15px;
  text-decoration: none;
  color: #9c9c9c;
  margin-bottom: 2px;
}
.footer-link:hover {
  color: #0275d8;
  text-decoration: underline;
}


@media (max-width: 1000px) {
  ul.breadcrumb {
    display: block;
  }

  .search-bar {
    float: none;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 2px 2px;
  }
  .section-heading {
    margin-top: 20px;
  }
}