@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

body {
  font-family: "Noto Sans", sans-serif;
}

main {
  margin: 50px 70px;
}

.navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 0 70px;
  position: sticky;
  top: 0;
  box-shadow: 10px 5px 20px #0000001e;
}

.branding-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px 0;
  flex-wrap: wrap;
}

.page-title {
  color: gray;
  font-size: 14px;
  margin: 0 10px;
  font-weight: 500;
}

.navigation-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px 0;
  width: 100%;
}

.nav-btn-white {
  padding: 6px;
  background-color: #ffffff00;
  border: 1px solid #adb2b8;
  color: #65696c;
}

.nav-btn-green {
  background-color: #8ec423;
  padding: 8px 10px;
  color: aliceblue;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.nav-btn-white:hover {
  color: #9b41b2;
  border-color: #9b41b2;
}

.nav-btn-green:hover {
  background-color: #aedb55;
}

.nav-btn-white,
.nav-btn-green {
  border-radius: 3px;
  margin: 0 5px;
}

.links-section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.nav-link {
  text-decoration: none;
  border: 1px solid transparent;
  color: #676666;
  font-weight: 500;
  margin: 0 15px;
}

.nav-link:hover,
.nav-link-active {
  color: #9b41b2;
  padding-bottom: 5px;
  border-bottom: 1px solid #9b41b2;
}

/* BREADCRUMB */

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  display: inline;
  white-space: nowrap;
}

ul.breadcrumb>li {
  display: inline;
}

ul.breadcrumb li+li::before {
  padding: 8px;
  color: #c5c5c5;
  content: ">";
}

ul.breadcrumb>li>a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb>li>a:hover {
  color: #01447e;
  text-decoration: underline;
}

.last-crumb {
  color: #c5c5c5 !important;
}

/* Search Bar */
.search-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* display: inline; */
  padding: 6px;
  width: 200px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  float: right;
}
.search-bar>i {
  /* margin: 0 20px; */
  border: 1px solid red;
  position: relative;
  left: 20px;
}
.search-bar>input {
  border: none;
  font-size: 15px;
  color: gray;
  background-color: transparent;
}
.search-bar>input:focus {
  border: none;
  outline: none;
}